body {
  color: #4e4e4e;
  background: #fefefe;
  height: 100%;
  width: 100%;
  min-width: 100vw;
}

.content {
  margin: 2rem auto;
  font-family: arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-block {
  width: 60vw;
  max-width: 320px;
  height: 60vw;
  padding: 20px;
  max-height: 420px;
  border: 2px solid #4e4e4e;
  display: flex;
  flex-direction: column;
  align-items: center;
}
